body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

/* header section */
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

/* hero section */
.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 200px;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 10px;
}

.hero-sec {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.hero-text button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
}

.hero-logo {
    background-color: gray;
    color: white;
    width: 1000px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    max-width: 450px;
}

/* info section */
.info-head {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

/* quote section */
.quote {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

/* call section */
.call {
    background-color: #3882F6;
}

.call button {
    background-color: #3882F6;
}

/* footer section */
.footer {
    background-color: #1F2937;
}