body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

/* header section */
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

/* hero section */
.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 200px;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 10px;
}

.hero-sec {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.hero-text button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 8px;
}

.hero-logo {
    background-color: gray;
    color: white;
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    max-width: 450px;
}

/* info section */
.info-head {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info {
    text-align: center;
    padding: 50px 200px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.empty {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

p {
    width: 150px;
    height: 150px;
}

.subtext {
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* quote section */
.quote {
    background-color: #E5E7EB;
    padding: 100px 300px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.customer {
    text-align: right;
    margin-top: 20px;
    font-weight: bold;
}

/* call section */
.call {
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 200px;
    padding: 40px 80px;
    border-radius: 10px;
}

.call-head {
    font-weight: 900;
}

.call-body {
    font-weight: 300;
}

.call button {
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    padding: 5px 20px;
}

/* footer section */
.footer {
    background-color: #1F2937;
}