body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

/* header section */
.header {
    background-color: #1F2937;
}

/* hero section */
.hero {
    background-color: #1F2937;
}

/* info section */

/* quote section */

/* call section */

/* footer section */
.footer {
    background-color: #1F2937;
}